<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是逗比门大师兄兼代理掌门，对，我是不太逗的逗比。</p>
        <p>我是南方沿海人，目前在西南某省，对，我是不吃辣的但是能吃辣的。</p>
        <p>我是程序员，毕业于某不知名211院校，目前在某不知名IT公司，对，我是喜欢编程的不喜欢编程者。</p>
        <p>目前工作重点是大数据方向，solr，hadoop，spark等都有所了解，不断在学习中。</p>
        <p>最近也在研究微服务，基于spring-cloud，估计会有很长一段时间。</p>
        <p>我是逗比门大师兄，会猴子棒棒拳，会搬砖。</p>
        <p>我就是我，跟大家一样的烟火……</p>
        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

       <h2>
         Note
       </h2>

        <p>
            希望逗比门发扬光大……
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>